<div class="container">
    <h2>Edit Car</h2>
    <form >
      <div class="form-group">
        <label for="brand">Brand</label>
        <input type="text" id="brand" class="form-control" formControlName="brand" required>
      </div>
  
      <div class="form-group">
        <label for="model">Model</label>
        <input type="text" id="model" class="form-control" formControlName="model" required>
      </div>
  
      <div class="form-group">
        <label for="year">Year</label>
        <input type="number" id="year" class="form-control" formControlName="year" required>
      </div>
  
      <div class="form-group">
        <label for="color">Color</label>
        <input type="text" id="color" class="form-control" formControlName="color" required>
      </div>
  
      <button type="submit" class="btn btn-primary" [disabled]="!carForm.valid">Update Car</button>
    </form>
</div>
  

  <!-- [formGroup]="carForm" (ngSubmit)="updateCar()" -->