<!-- <form (ngSubmit)="save()">
    <div>
      <label for="brand">Brand:</label>
      <input type="text" id="brand" name="brand" [(ngModel)] = "brandName">
    </div>
    <div>
      <label for="model">Model:</label>
      <input type="text" id="model" name="model" [(ngModel)] = "modelName">
    </div>
    <div>
      <label for="year">Year:</label>
      <input type="number" id="year" name="year" [(ngModel)] = "yearName">
    </div>
    <div>
      <label for="color">Color:</label>
      <select id="color" name="color" [(ngModel)] = "colorName">
        <option value="BLUE">Blue</option>
        <option value="RED">Red</option>
        <option value="BLACK">Black</option>
        <option value="WHITE">White</option>
        <option value="GREEN">Green</option>
      </select>
    </div>
    <button type="submit">Submit</button>
  </form> -->


  <div class="flex min-h-screen items-center justify-center">
    <div class="relative flex flex-col rounded-xl bg-transparent bg-clip-border text-gray-700 shadow-none">
      <h4 class="mb-4 text-center font-sans text-2xl font-semibold leading-snug tracking-normal text-blue-gray-900 antialiased">
        Add a car
      </h4>
      <p class="mb-4 block font-sans text-base font-normal leading-relaxed text-gray-700 antialiased">
        Enter the details.
      </p>
      <form (ngSubmit)="save()" class="mt-8 mb-2 w-80 max-w-screen-lg sm:w-96">
        <div class="mb-4 flex flex-col gap-6">
          <!-- Brand -->
          <div class="relative h-11 w-full min-w-[200px] mb-2">
            <input type="text" id="brand" name="brand" [(ngModel)]="brandName" 
              class="input-form"
              placeholder=" " />
            <label for="brand" class="label-form">Brand</label>
          </div>
          <!-- Model -->
          <div class="relative h-11 w-full min-w-[200px] mb-2">
            <input type="text" id="model" name="model" [(ngModel)]="modelName" 
              class="input-form"
              placeholder=" " />
            <label for="model" class="label-form">Model</label>
          </div>
          <!-- Year -->
          <div class="relative h-11 w-full min-w-[200px] mb-2">
            <input type="number" id="year" name="year" [(ngModel)]="yearName" 
            class="input-form"
              placeholder=" " />
            <label for="year" class="label-form">Year</label>
          </div>
          <!-- Color -->
          <div class="relative h-11 w-full min-w-[200px] mb-2">
            <select id="color" name="color" [(ngModel)]="colorName" 
              class="peer h-full w-full rounded-md border border-blue-gray-200 bg-transparent px-3 py-3 font-sans text-sm font-normal text-blue-gray-700 outline outline-0 transition-all">
              <option value="BLUE">Blue</option>
              <option value="RED">Red</option>
              <option value="BLACK">Black</option>
              <option value="WHITE">White</option>
              <option value="GREEN">Green</option>
            </select>
            <label for="color" class="label-form">Color</label>
          </div>
        </div>
        <button type="submit" class="mt-6 block w-full select-none rounded-lg bg-pink-500 py-3 px-6 text-center align-middle font-sans text-xs font-bold uppercase text-white shadow-md shadow-pink-500/20 transition-all hover:shadow-lg hover:shadow-pink-500/40">Add</button>
      </form>
    </div>
  </div>
  